:root {
  --font-primary: "Kumbh Sans", sans-serif;
  --custom-light: #fffbff;
  --custom-dark: #201a18;
  --custom-red: #ea5959;
  --custom-gray: #f3f3f3;
  --custom-medium-gray: #b5b5b5;
  --custom-bright-red: #ff0000;
  --custom-gold: #ffd700;
  --custom-dark-gray: #5a5a5a;
  --custom-hover-red: #ff6666;
  --custom-light-gray: #d8d8d8;
  --transition: 0.3s ease;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
  background-color: var(--custom-dark);
  font-family: var(--font-primary);
  color: var(--custom-dark);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 32px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.main {
  background-color: var(--custom-light);
  flex-basis: 700px;
  padding: 20px;
  border-radius: 8px;
}
.main .logo {
  font-size: 35px;
  font-weight: 700;
}
.main .logo span {
  color: var(--custom-red);
}
.main form {
  margin-block: 25px 32px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.main form input {
  font-size: 20px;
  background-color: var(--custom-gray);
  border: transparent;
  padding: 10px 16px;
  border-radius: 8px;
  flex-grow: 5;
}
.main form input::placeholder {
  color: var(--custom-medium-gray);
}
.main form button {
  flex-grow: 1;
  font-weight: 600;
  padding: 10px 16px;
  background-color: var(--custom-red);
  border: 1px solid var(--custom-red);
  color: var(--custom-light);
  border-radius: 8px;
  transition: background-color var(--transition), border-color var(--transition);
}
.main form button:hover {
  background-color: var(--custom-hover-red);
  border-color: var(--custom-hover-red);
}
.main h1 {
  font-size: 29px;
  margin-bottom: 30px;
}
.main ul {
  display: flex;
  flex-direction: column;
  gap: 27px;
  height: 70vh;
  overflow:auto; 
}
.main ul::-webkit-scrollbar {
  width: 8px;
}
.main ul::-webkit-scrollbar-thumb {
  background-color: var(--custom-hover-red);
  border-radius: 4px;
}
.main ul::-webkit-scrollbar-track {
  background-color: var(--custom-light-gray);
}
.main ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-right: 20px;
}
.main ul li div {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-grow: 1;
}
.main ul input {
  width: 28px;
  height: 28px;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--custom-red);
  border-radius: 8px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.main ul input::before {
  content: url(./check-icon.png);
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}
.main ul input:checked::before {
  transform: scale(0.7);
}
.main ul input:checked + label {
  text-decoration: line-through;
  color: var(--custom-red);
}
.main ul label {
  font-size: 18px;
  cursor: pointer;
  color: var(--custom-dark-gray);
  flex-grow: 1;
}
.main ul .delete-button {
  font-size: 18px;
  color: var(--custom-bright-red);
}
